@font-face {
  font-family: "SansBold";
  src: url('../../Assets/Fonts/PTSans-Bold.ttf');
}

.landing-page {
  z-index: 0;
  position: absolute;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.landing-page .landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.landing-page .bg {
  transition: ease-out 1s;

  z-index: 96;

  position: absolute;

  min-width: 100%;
  height: 100vh;

  right: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-page .bg img {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;
}

/* Xenia Logo */
.logo-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: +100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-div .logo-container {
  height: 100vh;
  text-align: center;
}

.landing-page .landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.logo-container img {
  margin-top: 220px;
}

.logo-div .event-date {
  font-family: "SansBold";
  color: rgb(183, 0, 255);
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 80px;
}

/* Landing Page Mountains */
.mountain {
  height: 80vh;
  width: 110%;

  transition: ease-out 500ms;

  position: absolute;

  bottom: -50px;
  left: -30px;

  z-index: 98;

}

.mountain img{
  height: 100%;
  width: 100%;
  min-width: 1500px;
}

/* Moon */
.moon-container{
  position: absolute;
  width: 350px;
  height: 250px;
  left: 0px;
}

/* Stars */
.landing-page-stars{
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 97;
}

/* Shuttle */
.shuttle {
  position: absolute;
  
  width: 150px;
  height: 240px;

  top: 0px;
  right: -300px;

  z-index: 100;

  animation-name: shuttle;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 5s;
}

.shuttle img{
  width: 100%;
}

@keyframes shuttle {
  0% {
    transform: scale(0.5);
    right: -300px;
  }
  25% {
    transform: scale(1);
    right: 220px;
  }
  40% {
    top: 300px;
    right: 220px;
    transform: scale(1);
  }
  60% {
    top: 630px;
    right: 220px;
    transform: scale(0.5);
  }
  80% {
    top: 630px;
    right: 220px;
    transform: scale(0.5);
  }
  100% {
    top: -100px;
    right: 220px;
    transform: scale(0);
  }
}

@media (max-width: 880px) {
  .mountain{
    width: 1500px;
    left: -200px;
    bottom: -120px;
  }
}

@media (max-width: 650px) {

  .logo-div img{
    max-width: 90%;
  }

  .logo-div .event-date{
    font-size: 25px;
  }
}