@font-face {
  font-family: "SansBold";
  src: url("../../Assets/Fonts/PTSans-Bold.ttf");
}
@font-face {
  font-family: "Planets";
  src: url("../../Assets/Fonts/Planetnsv2.ttf");
}

.landing-page {
  z-index: 0;
  position: absolute;
  background-color: black;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}

.landing-page .landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.landing-page .bg {
  transition: ease-out 1s;

  z-index: 96;

  position: absolute;

  min-width: 100%;
  height: 100vh;

  right: 0px;
  top: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing-page .bg img {
  position: absolute;
  min-width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;
}

/* Xenia Logo */
.logo-div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: +100;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-div .event-organizer{
  margin-top: 120px;
  color: rgb(0, 255, 255);
  text-shadow: 2px 2px rgb(0, 81, 255);
  font-weight: 100;
  font-family: 'SansBold';
  font-size: 40px;
  /* display: none; */
} 

.logo-div .event-organizer-logo{
  margin-top: 120px;
  /* padding-block: -20px; */
  /* background: url('../../Assets/Images/csi.png'); */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
}

.event-organizer-logo img{
  height: 100%;
  /* display: none; */
}

.logo-div .organizer-presents{
  font-family: "Planets";
  color: rgb(0, 131, 253);
  font-weight: 100;
  font-size: 22px;
}

.logo-div .logo-container {
  height: 100vh;
  text-align: center;
}

.landing-page .landing-container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.logo-div .event-date {
  font-family: "Planets";
  color: rgb(255, 109, 211);
  font-weight: 350;
  font-size: 21px;
  margin-bottom: 80px;
}

.logo-div .event-tag {
  font-family: "Planets";
  color: rgb(194, 0, 253);
  font-weight: 100;
  font-size: 25px;
}

/* Landing Page Mountains */
.mountain {
  height: 80vh;
  width: 110%;

  transition: ease-out 500ms;

  position: absolute;

  bottom: -50px;
  left: -30px;

  z-index: 98;
}

.mountain img {
  height: 100%;
  width: 100%;
  min-width: 1500px;
}

/* Moon */
.moon-container {
  position: absolute;
  width: 350px;
  height: 250px;
  left: 0px;
}

/* Stars */
.landing-page-stars {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 97;
}

/* Shuttle */
.shuttle {
  position: absolute;

  width: 150px;
  height: 240px;

  bottom: 100%;
  right: -300px;

  z-index: 100;

  animation-name: shuttle;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-delay: 5s;
}

.shuttle img {
  width: 100%;
}

@keyframes shuttle {
  0% {
    transform: scale(0.5) rotateZ(90deg);
    right: -300px;
  }
  25% {
    bottom: 50%;
    transform: scale(1);
    right: 220px;
  }
  40% {
    bottom: 50%;
    right: 220px;
    transform: scale(1);
  }
  60% {
    bottom: 1%;
    right: 220px;
    transform: scale(0.5);
  }
  80% {
    bottom: 1%;
    right: 220px;
    transform: scale(0.5);
  }
  100% {
    bottom: 100%;
    right: 220px;
    transform: scale(0);
  }
}

@media (max-width: 880px) {
  .mountain {
    width: 1500px;
    left: -200px;
    bottom: -120px;
  }
  .logo-container .event-organizer {
    margin-top: 180px;
    font-size: 25px;
  }
  .logo-container .organizer-presents {
    font-size: 20px;
  }
  .logo-div .event-tag {
    font-size: 20px;
  }
  .logo-div .event-date {
    font-size: 16px;
  } 
  .moon-container{
    top: -50px;
    left: -100px;
  }
}

@media (max-width: 650px) {
  .logo-div img {
    max-width: 90%;
  }
}


.landing-page-message{
  position: absolute;
  text-align: left;
  z-index: 100;
  width: 100%;
  bottom: 40px;
  left: 40px;
}

.landing-page-message .message1{
  font-family: 'Barlow';
  font-size: 28px;
  color: rgba(0, 255, 255, 0.8);
}

.landing-page-message .message2{
  font-family: 'Barlow';
  font-size: 28px;
  color: rgba(0, 255, 255, 0.8);
}

@media (max-width: 450px) {

.landing-page-message{
  bottom: 20px;
  left: 20px;
}

.landing-page-message .message1{
  font-size: 20px;
}
.landing-page-message .message2{
  font-size: 20px;
}
}

