@font-face{
    font-family: 'planetn';
    src:url('./nasalization.ttf') format("truetype");
}

@font-face{
    font-family: 'planetns';
    src:url('./Planetnsv2.ttf') format("truetype");
}

.meet{
    font-family: 'planetn';
    color: white;
}