@font-face {
  src: url(../../../../Assets/Fonts/Barlow-Light.ttf);
  font-family: Barlow;
}

@font-face {
  src: url(../../../../Assets/Fonts/PTSans-Bold.ttf);
  font-family: SansBold;
}

.Event {
  /* border: 2px solid crimson; */
  box-sizing: border-box;
  font-family: SansBold;
}

@media (min-width: 1280px) {
  .Event {
    font-size: 1.5em;
    margin: 5px 0;
  }
}

#EveName {
  font-family: Barlow;
}
