@font-face{
    font-family: 'planetn';
    src:url('./nasalization.ttf') format("truetype");
}

@font-face{
    font-family: 'planetns';
    src:url('./Planetnsv2.ttf') format("truetype");
}


.Event{
    /* border: 2px solid crimson; */
    box-sizing: border-box;
    font-family: 'planetns';
}

@media(min-width:1280px){
    .Event{
        font-size: 1.5em;
        margin: 5px 0;
    }
}

#EveName{
    font-family: 'planetns';
}

