@font-face {
  src: url(../../Assets/Fonts/PTSans-Bold.ttf);
  font-family: SansBold;
}

@font-face {
  src: url(../../Assets/Fonts/Barlow-Light.ttf);
  font-family: Barlow;
}

.ProfCard {
  font-family: SansBold;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  margin: 20px;
  margin-top: 0px;
}

.registeredEventsContainer {
  width: 100%;
  margin: 30px;
  display: flex;
}

.registeredEvents {
  width: 60%;
  display: flex;
  flex-flow: column;
  direction: rtl;
  overflow-y: auto;
  height: 60vh;
  padding: 20px;
}

.registeredEventInfo {
  width: 40%;
  height: 50vh;
  padding: 20px;
}

.registeredEventInfoName {
  text-align: center;
  color: #46bcde;
  font-size: 4em;
  font-weight: 500;
  min-height: 150px;
}

.noRegistered{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60vh;
  color: white;
  font-size: 4em;
  font-weight: 450;
}

.usernameHeading h1{
  color: white;
  font-size: 4em;
  font-family: SansBold;
  font-weight: 600;
}

.Regdiv {
  transition: 0.1s ease-in;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.RegP {
  font-size: 3em;
  color: white;
  font-weight: 300;

  line-height: 60px;

  text-decoration: underline;

  text-decoration-color: #46bcde;
}

.Regdiv:hover {
  transform: translateY(5%);
}

.RegP:hover {
  color: #46bcde;
}

.col-container{
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1000px) {
  .col-container .event-type img{
    display: none;
  }
.event-type .title{
  display: none;
}

  .col-container .event-logo img{
    display: none;
  }
}

.col-container .event-list{
  height: 500px;
  overflow-y: auto;
}

.event-type .title{
  font-size: 32px;
  color: aliceblue;
  text-align: center;
}

.col-container .logo{
  width: 80%;
  height: 500px;
}

.col-container .event-type{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.col-container .event-type .logo{
  width: 80%;
}

.col-container .event-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.col-container .event-logo img{
  width: 80%;
}


.slotAndType {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: auto;
  color: white;
  font-family: Barlow;
}

@media (max-width: 900px) {
  .RegP {
    font-size: 3em;
    font-weight: 400;
  }
  .registeredEventInfoName {
    font-size: 3em;
    font-weight: 400;
  }
}

.ProfCard .btn {
  background: crimson;
  border-radius: 25px;
  color: white;
}

.ProfCard .btn:hover{
  transform: scale(1.1);
  color: white;
}

@media (min-width: 1200px) {
  .registeredEvents {
    margin-left: 60px;
  }
}

.registeredEventsDashboard{
  color: white;
  padding: 20px;
}

.registeredEventsDashboard img{
  width: 70%;
  height: auto;
}

.registeredEventsDashboard p{
  font-size: 2.3rem;
  color : #46bcde;
  font-weight: 350;
}

#slotTime{
  color: rgba(255, 255, 255, 0.8);
  font-size: 32px;

  animation: coming-soon-pulse;
}

.registeredEventsDashboard h1{
  font-size: 3.5rem;
  font-weight: 300;
}

.dashboardTech{
  margin-top: 30px;
}

.dashboardNonTech{
  margin-top: 30px;
}

.registeredEventsDashboard span{
  color: white;
}



@media (max-width: 750px) {
  .RegP {
    font-size: 2.3em;
    font-weight: 400;
  }
  .registeredEventInfoName {
    font-size: 2em;
    font-weight: 400;
  }
  .registeredEventsContainer {
    flex-flow: column;
    align-items: center;
  }
  .ProfCard {
    height: auto;
  }
  .registeredEvents {
    height: 40vh;
    width: 100%;
  }
  .registeredEventInfoName {
    min-height: 30px;
  }
  .registeredEventInfo {
    width: 100%;
    margin-top: 30px;
    height: auto;
  }
  .slotAndTypeItem {
    font-size: 1.5em;
  }

  .registeredEventsDashboard p{
    font-size: 1.5rem;
    font-weight: 250;
  }
  
  .registeredEventsDashboard h1{
    font-size: 2.3rem;
    font-weight: 300;
  }

  .usernameHeading h1{
    font-size: 2.5rem;
  }
}