.Summary{
    display: flex;
    flex-flow: column;
    margin: 39px 20px 20px 20px;
    width: 40%;
}

@media (max-width:767px){
    .Summary{
        width: 80%;
    }
}

.Coupon {
    
    padding: 15px;
    width: 100%;
    background: rgba(0, 255, 255, 0.1);
    
    transition: none;
}

.question {
    width: 100%;
    margin: 0;
    color: rgb(109, 118, 204);
    color: #46bcde;
    font-size: 1.5em;
}

.question:hover{
    color:aqua;
    cursor: pointer;
}