.Coupon{
    border: 2px grey solid;
    padding: 5px;
    width: 100%;
    background: white;
    
    transition: none;
}

.question{
    width: 100%;
    margin: 0;
    color: rgb(109, 118, 204);
}

.question:hover{
    color: rgb(8, 23, 151);
    cursor: pointer;
}