@font-face {
  src: url(../../Assets/Fonts/PTSans-Bold.ttf);
  font-family: SansBold;
}

@font-face {
  src: url(../../Assets/Fonts/Barlow-Light.ttf);
  font-family: Barlow;
}

.about-us {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  margin-bottom: 50px;
}

.hero {
  height: fit-content;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content1 h1 {
  margin: 10px auto;
  width: 70%;
  text-align: left;
}
.content1 {
  margin-top: 5px;
  color: #fff;
  text-align: center;
}
.content1 .firstChild {
  font-size: 90px;
  font-family: SansBold;
}
.content1 p {
  font-size: 19px;
  width: 70%;
  display: inline-flex;
  font-family: Barlow;
}

.content2 h1 {
  margin: 10px auto;
  width: 65%;
  text-align: right;
}
.content2 {
  margin-top: 50px;
  color: #fff;
  text-align: center;
}

.content2 .firstChild {
  font-size: 90px;
  font-family: SansBold;
}
.content2 p {
  font-size: 19px;
  width: 70%;
  display: inline-flex;
  font-family: Barlow;
}

.about-us h1 {
  font-size: 50px;
}

.events {
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  font-size: 25px;
}

.events .typewriter-text1 {
  animation-name: typewriter1;

  color: #fff;
  text-shadow: 0 0 2px #aaa0a0, 0 0 10px #ffffff, 0 0 20px #0ba9ca,
    0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
}

.events .typewriter-text2 {
  animation-name: typewriter2;

  color: #fff;
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #0ba9ca,
    0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
}

.events .typewriter-text1,
.typewriter-text2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 20s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
}

.events .typewriter-text1::after,
.typewriter-text2::after {
  content: "_";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 0.5s;
  animation-timing-function: steps(1, end);
}

@keyframes typewriter1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 10em;
  }
}

@keyframes typewriter2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 11em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 676px) {
  .content1 {
    padding: 0px 5px !important;
  }

  .content2 {
    padding: 0px 5px !important;
  }
  .content1 h1 {
    font-size: 50px !important;
    text-align: center !important;
  }

  .content1 .firstChild {
    font-size: 50px;
  }
  .content1 p {
    font-size: 15px;
  }
  .content2 h1 {
    font-size: 50px !important;
    text-align: center !important;
  }

  .content2 .firstChild {
    font-size: 50px;
  }
  .content2 p {
    font-size: 15px;
    text-align: center !important;
  }
  .eventContent {
    padding: 5px !important;
    text-align: center !important;
    margin: 0px 20px !important;
    width: 90%;
  }
  .event-info {
    text-align: center !important;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .content h1 {
    font-size: 40px;
  }
  .content {
    margin-top: 10px;
    padding: 5px !important;
  }
  .content .firstChild {
    font-size: 70px;
  }
  .content p {
    font-size: 10px;
  }

  @keyframes typewriter1 {
    0%,
    50%,
    100% {
      width: 0;
    }
    10%,
    40% {
      width: 9em;
    }
  }

  @keyframes typewriter2 {
    0%,
    50%,
    100% {
      width: 0;
    }

    60%,
    90% {
      width: 9em;
    }
  }
}
