.ProfCard{
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.ProfContainer{
    z-index: 2;
    width: 96%;
    margin-inline: 2%;
    height: 80vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.Prof{
    width: 40%;

    height: 100%;
    background-color: black;
    margin: 0;
}

.Reg{
    width: 60%;
    height: 100%;
    background-color: white;
}

.Profh1{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.Profimgdiv{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: 1px white solid;
    margin-top: 30px;
    margin-left: 38%;
    text-align: center;
}

.Profimg{
    height: 90%;
    width: 90%;
}

.emailid{
    color: white;
}

.phnno{
    color: white;
}

.College{
    color: white;
}

.personalinfo{
    padding: 15px;
    margin: 30px 20px 0 20px;
}

.Regh1{
    margin-top: 20px;
    text-align: center;
}

.RegContainer{
    margin: 40px 30px 0 30px;
}

.RegP{
    color: black;
}