.planets{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.planets span{
  top: 50%;
  color: white;
  position: absolute;
  z-index: 1;
}

.starContainer{
    height: 100vh;
    background: none;
    position: relative;
  }

  #star1{
    height: 6px;
    width: 6px;
    animation: twinkle1 1s 1s alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 10vh;
    left: 10%;
  }
  #star2{
    height: 4px;
    width: 4px;
    animation: twinkle2 3s 500ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 5vh;
    left: 60%;
  }
  #star3{
    height: 2px;
    width: 2px;
    animation: twinkle3 2s 1500ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 2vh;
  }
  #star4{
    height: 5px;
    width: 5px;
    animation: twinkle4 1s 2500ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 90%;
    top: 15vh;
  }
  #star5{
    height: 4px;
    width: 4px;
    animation: twinkle5 3s 2000ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 40%;
    top: 15vh;
  }
  #star6{
    height: 2px;
    width: 2px;
    animation: twinkle6 2s 1250ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 20vh;
    left: 70%;
  }
  #star7{
    height: 7px;
    width: 7px;
    animation: twinkle7 1s 1750ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 22vh;
  }
  #star8{
    height: 3px;
    width: 3px;
    animation: twinkle8 2s 975ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    top: 6vh;
    left: 20%;
  }
  #star9{
    height: 6px;
    width: 6px;
    animation: twinkle9 3s 2750ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left: 80%;
    top: 3vh;
  }
  #star10{
    height: 4px;
    width: 4px;
    animation: twinkle10 1s 2250ms alternate infinite;
    border-radius: 50%;
    position: absolute;
    background-color: white;
    left :5%;
    top: 5vh;
  }
  @keyframes twinkle1{
    0%{
      transition: ease-out;
      opacity: 0.5;
      transform: scale(0.7);
    }
    100%{
      transition: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes twinkle2{
    0%{
      transition: ease-out;
      opacity: 0.2;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }
  @keyframes twinkle3{
    0%{
      transition: ease-out;
      opacity: 0;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }
  @keyframes twinkle4{
    0%{
      transition: ease-out;
      opacity: 0.5;
      transform: scale(0.7);
    }
    100%{
      transition: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes twinkle5{
    0%{
      transition: ease-out;
      opacity: 0;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }
  @keyframes twinkle6{
    0%{
      transition: ease-out;
      opacity: 0;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }
  @keyframes twinkle7{
    0%{
      transition: ease-out;
      opacity: 0.5;
      transform: scale(0.7);
    }
    100%{
      transition: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes twinkle8{
    0%{
      transition: ease-out;
      opacity: 0;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }
  @keyframes twinkle9{
    0%{
      transition: ease-out;
      opacity: 0.5;
      transform: scale(0.7);
    }
    100%{
      transition: ease-out;
      opacity: 1;
      transform: scale(1);
    }
  }
  @keyframes twinkle10{
    0%{
      transition: ease-out;
      opacity: 0;
    }
    100%{
      transition: ease-out;
      opacity: 1;
    }
  }