.cartItem{
    width: 50vw;
    height: 18vh;
   
    box-shadow: 0px 0px 30px 4px rgba(0, 247, 255, 0), 0 0px 30px 1px rgba(45, 230, 255, 0);
    
    background: linear-gradient(to right,rgba(130, 238, 238, 0.39),black);

    margin: 20px;
    border-radius: 5px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    
    color: rgba(0, 255, 255, 0.979);
}

.rem{
    height: 35px;
}

.rem span{
    margin: 0;
}

.cartItemName, .cartItemPrice{
    text-align: left;
    margin: 0;
    font-size: 1.25rem;
}

.cartItemPrice{
    color: black;
    margin: 0;
}

.cartItemImg{
    height: 17vh;
    width: 25%;
}

@media (max-width:575px){
    .cartItemImg{
        width: 35%;
    }
}

.cartItemInfo{
    height: 17vh;
    width: 80%;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (max-width:767px){
    .cartItem{
        width: 80vw;
    }
    .cartItemInfo{
        flex-flow: column;
    }
    .nameprice{
        align-items: center;
    }
}

.rem:focus{
    outline: 0;
}

.nameprice{
    display: flex;
    flex-flow: column;
}