@font-face {
  src: url(../../Assets/Fonts/Barlow-Light.ttf);
  font-family: Barlow;
}

@font-face {
  src: url(../../Assets/Fonts/PTSans-Bold.ttf);
  font-family: SansBold;
}

.webTeam {
  width: 100vw;
  text-align: center;
  display: inline-block;
  margin: 0px;
  margin-block: 20px;
}

.webTeam .profile {
  position: relative;

  font-family: SansBold;
  text-align: center;
  font-weight: 600;

  margin: 10px;

  display: inline-block;

  width: 250px;
  height: 350px;

  overflow: hidden;
}

.webTeam h1 {
  color: white;
  font-family: SansBold;
}

.webTeam .profile .picNLink {
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 50%;
  height: 250px;
  width: 250px;

  position: relative;

  overflow: hidden;
}

.webTeam .profile .picNLink .memberPic {
  height: 100%;
  width: 100%;
}

.webTeam .profile .picNLink:hover .memberLink {
  position: absolute;

  left: 0px;

  width: 100%;
  height: 100%;

  color: black;

  transition: ease 200ms;
}

.webTeam .profile .memberName {
  color: white;
  font-size: 20px;
  padding-top: 10px;
  font-family: Barlow;
}

.webTeam .profile .picNLink .memberLink i {
  margin-top: 110px;
}

.webTeam .profile .picNLink:hover .memberPic {
  transition: ease 300ms;
  filter: blur(5px);
}
