.webTeam{
  width: 100vw;
  text-align: center;
  height: auto;
  display: inline-block;
  margin: 0px;
  margin-block: 20px;
}

.webTeam .profile{
  position: relative;

  text-align: center;

  margin: 10px;

  display: inline-block;

  width: 250px;
  height: 350px;
}

.webTeam h1{
  color: aqua;
}

.webTeam .profile .picNLink{
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  overflow: hidden;
}

.webTeam .profile .picNLink .memberPic{
  height: 100%;
  width: 100%;
}

.webTeam .profile:hover .picNLink .memberLink{
  position: absolute;
  
  margin-top: 125px;
  
  left: 0px;

  width: 100%;
  height: 100%;

  color: black;
}

.webTeam .profile:hover .picNLink .memberPic{
  filter: blur(5px);
}
