.App {
  text-align: center;
}

.navlink-hover:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.navlink-hover:hover:after {
  width: 100%;
  transition: width 0.3s;
}

.brandName {
  padding-left: 8px;
  font-weight: bold;
}

.NavBar .nav{
  background: linear-gradient(90deg, rgb(0, 9, 88) 0%, rgb(51, 91, 219) 100%);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(105, 105, 105) 100%);
}
