.jumbotron{
    min-height: 100vh;
}

.jumbotron{
    animation-name: apear;
    animation-duration: 1s;
    transition: ease-out;
    animation-iteration-count: 1;
}

@keyframes apear{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.more-info.jumbotron .logo{
    width: 25%;
    height: 200px;
    min-width: 200px;
    min-height: 200px;
    transition: ease;
}

.more-info.jumbotron .logo{
    animation-name: logoScaling;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: ease;
}

@keyframes logoScaling{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }

}

.nav-link, .nav-link:hover{
    outline: black;
    border: black;
    color: white;
    background-color: black;
    outline: none;
}

.active{
    background-color: greenyellow;
    color: black;
}

.tab-pane{
    margin-top: 20px;
    min-height:100px;
    background: rgba(0, 0, 0, 0.2);
}

.back-container{
    overflow: hidden;
    height: 50px;
    width: 50px;
    margin-top: 20px;
    padding: 0px;
    margin-left: 50px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.back-container:hover{
    transition: ease-in 200ms;
    transform: scale(1.5);
}

.back-container img{
    height: 100%;
    width: 100%;
}

#e1.jumbotron{
    background-color: rgba(0, 100, 200, 0.8);
}
#e2.jumbotron{
    background-color: rgba(200, 0, 200, 0.8);
}
#e3.jumbotron{
    background-color: rgba(0, 200, 0, 0.8);
}
#e4.jumbotron{
    background-color: rgba(200, 200, 0, 0.8);
}
#e5.jumbotron{
    background-color: rgba(0, 200, 200, 0.8);
}
#e6.jumbotron{
    background-color: rgba(200, 0, 0, 0.8);
}
#e7.jumbotron{
    background-color: rgba(240, 128, 128, 0.8);
}
#e8.jumbotron{
    background-color: rgba(250, 120, 0, 0.8);
}


#ne1.jumbotron{
    background-color: rgba(0, 200, 200, 0.8);
}
#ne2.jumbotron{
    background-color: rgba(200, 0, 0, 0.8);
}
#ne3.jumbotron{
    background-color: rgba(240, 128, 128, 0.8);
}
#ne4.jumbotron{
    background-color: rgba(250, 120, 0, 0.8);
}
#ne5.jumbotron{
    background-color: rgba(0, 100, 200, 0.8);
}
#ne6.jumbotron{
    background-color: rgba(200, 0, 200, 0.8);
}
#ne7.jumbotron{
    background-color: rgba(0, 200, 0, 0.8);
}
#ne8.jumbotron{
    background-color: rgba(200, 200, 0, 0.8);
}