@font-face {
  src: url("../../Assets/Fonts/PTSans-Regular.ttf");
  font-family: "SansRegular";
}

header{
  position: relative;
  z-index: +1;
  text-align: center;

  margin-block: 10px;
  padding-inline: 20px;
}

header .navItem{
  font-family: SansRegular;
  min-width: 135px;
  padding-block: 2px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #0a93e2;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00eeff;
  margin-inline: 20px;
  background-color: black; 
}

header .navItem:hover{
  color: #00eeff;
  box-shadow: 0 0 10px 0 #0df0f8 inset, 0 0 20px 2px #00eeff;
  border: 3px solid #0df0f8;
}

header .active-nav{  
  box-shadow: 0 0 10px 0 #0df0f8 inset, 0 0 20px 2px #00eeff;
}

header .navItem img {
  -webkit-filter: invert(1);
  filter: invert(1);

  height: 18px;
} 

header .navBar{
  display: flex;
  justify-content: space-between;
}

header .navBar .list{
  display: flex;
}

header .nav-toggler{
  z-index: +1;
}

header .brand{
  font-size: 24px;
  color: white;
}

header .mob-nav {
  
  transition: ease 500ms;

  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: +1;

}

.mob-nav .navItem{
  font-size: 32px;
  width: 350px;
  margin-block: 5px;
}

.nav-close{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  display: none;
  z-index: +1;
}

.nav-close:hover{
  transition: ease 500ms;
  transform: scale(1.2);
  cursor: pointer;
}

.navbar-toggler{
  cursor: pointer;
  color: white;
}

@media (min-width: 1000px) {
  .navbar-toggler{
    display: none;
  }
}

@media (max-width: 1000px){
  .navBar .list{
    display: none;
  }
}