@font-face {
  src: url("../../Assets/Fonts/PTSans-Regular.ttf");
  font-family: "SansRegular";
}

header {
  position: relative;
  z-index: +1;
  text-align: center;

  user-select: none;

  margin-block: 10px;
  padding-inline: 20px;
}

header .navItem {
  font-family: SansRegular;
  min-width: 135px;
  padding-block: 2px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  border: 3px solid rgba(0, 0, 0, 0);
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00b4d8;
  margin-inline: 20px;
  font-weight: 600;
}

header .navItem:hover {
  color: aqua;
  border: 3px solid aqua;
}

header .active-nav {  
  border: 3px solid aqua;
  box-shadow: 0 0 10px 0 #00b4d8 inset, 0 0 20px 2px #00eeff;
}

header .navItem img {
  -webkit-filter: invert(1);
  filter: invert(1);

  height: 18px;
} 

header .navBar {
  display: flex;
  justify-content: space-between;
}

.navBar .list {
  display: flex;
}

.nav-toggler {
  z-index: +1;
}

.brand{
  font-size: 24px;
  color: white;
}

.mob-nav {
  
  transition: ease 500ms;

  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: +1;
  background: rgba(0, 0, 0, 0.8);

}

.mob-nav .navItem{
  font-size: 32px;
  width: 350px;
  margin-block: 5px;
}

.nav-close{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 32px;
  font-weight: 500;
  color: white;
  display: none;
  z-index: +1;
  
  -webkit-transition: all 0.15s ease-in-out;
}

.nav-close:hover{
  transition: ease 500ms;
  transform: scale(1.2);
  cursor: pointer;
}

.navbar-toggler{
  cursor: pointer;
  color: white;
}

.nav-cart.active{
  background: none;
}

.navBar .fa-shopping-cart{
  margin-inline: 20px ;
  font-size: 32px;
  color: white;
}

.navBar .fa-shopping-cart:hover{
  color: #00b4d8;
  transition: ease 500ms;
  transform: scale(1.3);
}

@media (min-width: 1000px) {
  .navbar-toggler{
    display: none;
  }
}

@media (max-width: 1000px){
  .navBar .list{
    display: none;
  }

  .navBar .fa-shopping-cart{
    margin-top: 10px;
    font-size: 60px;
  }
}