@font-face {
  src: url("../../Assets/Fonts/PTSans-Regular.ttf");
  font-family: "SansRegular";
}

header{
  position: relative;
  z-index: +1;
  text-align: center;

  overflow: visible;

  /* background: linear-gradient(black, rgba(255, 255, 255, 0)); */
  /* backdrop-filter: blur(100px); */
}

.navbar{
  overflow: visible;
}

header .nav-item{
  font-family: SansRegular;
  min-width: 135px;
  padding-block: 2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #0a93e2;
  border-radius: 50px;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  color: #00eeff;
  margin-inline: 20px;
  background-color: black;
}

header .nav-item:hover{
  color: #00eeff;
  box-shadow: 0 0 10px 0 #0df0f8 inset, 0 0 20px 2px #00eeff;
  border: 3px solid #0df0f8;
}

header .active-nav{  
  box-shadow: 0 0 10px 0 #0df0f8 inset, 0 0 20px 2px #00eeff;
}

header .nav-item img {
  -webkit-filter: invert(1);
  filter: invert(1);

  height: 18px;
} 

@media (max-width: 991px){

  header .nav-item{
    width: 100%;
    margin: 0px;
    margin-block: 5px;
  }
  
  header ul{
    width: 100%;
    text-align: center;
  }

  .open-mobile-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
  }

}

.open-mobile-nav .navbar-nav{
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}