.workshop-info{
  text-align: center;
  padding-top: 15px;
  color: white;
}

.workshop-info .info{
  width: 100%;
  text-align: center;
}

.workshop-info h3{
  color: white;
  font-family: 'Barlow';
  margin-bottom: 10px;
}

.workshop-info .info .date{
  font-size: 32px;
  color: rgba(0, 255, 255, 0.8);
  font-family: 'SansBold';
}

.workshop-info .info .time{
  color: aqua;
  font-size: 25px;
  margin-bottom: 10px;
}

.workshop-info .info .platform{
  color: aliceblue;
  font-size: 30px;
  font-family: 'SansBold';
}

.workshop-info .persons row{
  min-height: 300px;
}

.workshop-info .tab-row{
  padding-block: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-block: 1px solid aqua;
}