.workshops-coming-soon {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.workshops-coming-soon .workshops-date {
  color: white;
  font-size: 60px;
  font-family: "SansBold";
  font-weight: 250;
  text-align: center;
  padding: 5px;
}

.workshops-coming-soon .coming-soon {
  color: rgba(0, 255, 255, 0.8);
  font-size: 50px;

  animation: coming-soon-pulse 1s infinite ease-in-out;
  animation-play-state: running;
  font-family: "SansBold";
  font-weight: 250;
  text-align: center;
  padding: 5px;
}

.company_image {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: white 2px solid;
}

.session-detail-container {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.session-detail-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  max-height: 100vh;
}

.session-detail-left-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.session-detail-container .session-detail-left h1 {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  font-size: 90px;
  font-family: "SansBold";
  color: #00b4d8;
  line-height: 1;
  margin: 0;
}

.session-detail-right {
  display: flex;
  flex-flow: column;
  width: 60%;
}

@keyframes coming-soon-pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media (max-width: 800px) {
  .workshops-coming-soon .coming-soon {
    font-size: 40px;
  }
  .workshops-coming-soon .workshops-date {
    font-size: 50px;
  }
}

@media (max-width: 1000px) {
  .session-detail-left {
    display: none;
  }

  .session-detail-right {
    width: 100%;
  }
}
