@font-face {
  src: url(../../Assets/Fonts/PTSans-Bold.ttf);
  font-family: SansBold;
}

@font-face {
  src: url(../../Assets/Fonts/Barlow-Light.ttf);
  font-family: Barlow;
}

.pageFooter {
  background: linear-gradient(black, rgba(0, 183, 255, 0));
  transition: ease 1s;
}

.pageFooter .block1 {
  justify-content: space-between;
  width: 50%;
}

.pageFooter .block2 {
  justify-content: space-between;
  width: 50%;
}

.pageFooter .text-uppercase {
  font-family: SansBold;
}

.pageFooter .nav-content {
  font-family: Barlow;
}

.pageFooter .column1 {
  width: 60%;
}
.pageFooter .column2 {
  width: 40%;
}
.pageFooter .column3 {
  width: 50%;
}
.pageFooter .column4 {
  width: 50%;
}

.pageFooter .footerWebTeam {
  text-decoration: none;
  color: rgb(64, 144, 235);
  font-weight: bold;
}

.footerIcon:hover {
  transition: ease 200ms;
  transform: scale(1.3);
}

@media (max-width: 1000px) {
  .pageFooter {
    font-size: 13px;
  }
}

@media (max-width: 770px) {
  .pageFooter .footerRow {
    display: block !important;
  }

  .pageFooter .block1 {
    width: 100%;
    padding-bottom: 30px;
  }

  .pageFooter .block2 {
    width: 100%;
  }

  .pageFooter .column1 {
    width: 50%;
  }
  .pageFooter .column2 {
    width: 50%;
  }
}

/* Get Back To Top */

.backtotop {
  background: rgba(0, 0, 0, 0.14);
  padding: 10px;
  text-align: center;
  color: white;
  margin: 30px 0px;
}

.backtotop h4 {
  font-family: SansBold;
}
