.Profile{
    display: flex;
    flex-flow: row;
    text-align: center;
}

@media (max-width:767px){
    .Profile{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}