.EmptyCart{
    width: 50vw;
    height: 60vh;
    background: radial-gradient(rgba(56, 56, 56, 0.308),rgba(0, 0, 0, 0) 50%);
    position: relative;
}

@media (max-width:767px){
    .EmptyCart{
        width: 90%;
    }
}

.emptyCartimg{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 30%;
    left: 25%;
}

.feelsLight h1{
    color: white;
}