@font-face {
    src: url("../../Assets/Fonts/PTSans-Regular.ttf");
    font-family: "SansRegular";
  }
  
  .reset-password{
  
    font-family: SansRegular;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    margin-top: 50px;
    width: 100%;
  }
  .reset-password .form-box{
  
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  
    width: fit-content;
    height: fit-content;
  
    max-width: 400px;
  
    background: rgba(112, 112, 112, 0.2);
    backdrop-filter: blur(5px);
  }
  
  .form-box .title{
    user-select: none;
    color: white;
    font-size: 32px;
    margin-bottom: 30px;
  }

.form-box label{
  text-align: start;
  color: white;
}
  
  .form-box input{
    height: 40px;
    width: 95%;
    background: black;
    color: white;
    outline: none;
    border: none;
  
    border-radius: 10px;
  
    transition: 400ms ease;

    margin-bottom: 5px;
  
    text-align: left;

    padding-left: 10px;
    padding-right: 50px;
 
  }

.form-box div{
  position: relative;
}

.form-box i {
  position: absolute;
  color: white;

  height: 40px;

  cursor: pointer;

  top: 10px;
  right: 20px;
}
  
  .form-box input:focus{
    border: none;
  }
  
  .form-box .alerts{
    margin-bottom: 10px;
  }
  
  .form-box .error{
    color: rgb(255, 0, 0);
  }
  
  .form-box .message{
    color: rgb(0, 175, 0);
  }

  .form-box .success {
    color: green;
    font-size: 32px;
  }
  
  .form-box button{
    border: none;
  
    background: black;
    color: white;
    height: 40px;
    font-size: 20px;
    width: 160px;
    border-radius: 10px;
    margin-inline: 10px;
  
    outline: none;
  
    user-select: none;
  }
  
  .form-box button:focus{
    outline: none;
  
    border: 2px solid aqua;
    border-top: none;
    border-left: none;
  }

  .resetPassHead{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: black;
    border-bottom: 1px solid white;
  }

  .resetPassHead img{
    height: 90px;
    width: 90px;
    margin-top: -30px;
  }

  .resetPassHead p{
    color: white;
    font-size: 32px;
    font-family: SansRegular;
  }

  @media(max-width:500px){
    .reset-password{
      width: 300px;
      margin: 50px auto;
    }
    .reset-password .form-box{
      width: 100%;
    }
    .reset-password .resetPassHead{
      width: 100%;
    }
  }