@font-face{
    font-family: 'planetn';
    src:url('./Event/nasalization.ttf') format("truetype");
}

@font-face{
    font-family: 'planetns';
    src:url('./Event/Planetnsv2.ttf') format("truetype");
}

.evedate{
    font-family: 'planetn';
}

.EventCols{
    display: flex;
    text-align: center;
    /* border: 4px solid salmon; */
    box-sizing: border-box;
}

