.Xenia{
    background: url('bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.bg-div{
    z-index: -100;
    position: fixed;
    background: none;
    width: 100vw;
    height: 100vw;
}

.main-bg{
    width: 100%;
}