.card{
  background: none;
  color: yellowgreen;
  display: inline-block;
  height: 60vh;
  width: 12.5%;
  position: relative;
  text-align: center;
}

body{
  background-color: black;
}

.logo{
  background: none;
  width: 100%;
  display: block;
  position: center;
}

.moreInfoLogo{
  width: 50vw;
  height: 50vh;
}

.title{
  text-align: center;
}